#card{
    text-align: center;
    background-image: url(asset/formu.jpg);
    margin: 8% 38%;
    padding: 8rem 10rem;
    border-radius: 15px;
    cursor: pointer;
}

main a{
    text-decoration: none;
    color: black;
}

main h2{
    padding: 5px 0px;
}
