* {
    margin: 0px;
    font-family: "Cinzel", serif;
}

body {
    background-color: #1B263B;
}

p {
    font-family: "Cinzel Decorative", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}

header nav a {
    text-decoration: none;
    color: #D4AF37;
    background-color: #7D1128;
    margin: 0rem 1rem;
    border-radius: 20px;
    padding: 5px 1rem;
    font-weight: 700;
    font-size: 20px;
}

.flex {
    display: flex;
}

header ul img {
    width: 70px;
    margin: 1rem;

}
header ul{
    list-style: none;
}

header img {
    width: 150px;
}

#contact_button{
    color: #7D1128;
    background-color: #D4AF37;
}
#forum_button{
    color: #7D1128;
    background-color: #D4AF37;
}

#request_button{
    color: #7D1128;
    background-color: #D4AF37;
}

#produit_button{
    color: #7D1128;
    background-color: #D4AF37;
}

#services_button{
    color: #7D1128;
    background-color: #D4AF37;
}

#profil {
    width: 80px;
}

#contact {
    background-image: url(asset/formu.jpg);
    border-radius: 20px;
    margin-top: 7%;
    margin: 5% 10rem 0rem 10rem;
    padding: 3rem 0rem;

}

#contact h2 {
    text-align: center;
    color: #333;
}

#contact p {
    text-align: center;
    color: #333;
}

form {
    margin: 1rem 10rem;
}

form button {
    text-align: right;
    justify-content: right;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group div {
    flex: 1;
    min-width: 200px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px;
}

.required {
    color: red;
}

#foot {
    display: flex;
    align-items: center;
    bottom: 38px;
    position: fixed;
}

footer input:hover{
    cursor: pointer;
}


footer h3{
    background-color: #5E006E;
    color: #D4AF37;
    border-radius: 25px;
    padding: 10px 8rem;

}


#submit {
    padding: 10px 8rem;
    border-radius: 12px;
    margin-left: 73%;
    margin-top: 1rem;
    background-color: #7D1128;
    color: #D4AF37;
    font-weight: 700;
    font-size: large;
}

#submit:hover{
    cursor: pointer;
}

#black_theme {
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    margin: 0rem 2rem;
}

